# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore


# Jekyll metadata
_gh_pages
_site
docs/.jekyll-metadata
docs/dist

*.log
.sass-cache
Thumbs.db
.DS_Store
/node_modules/
.grunt/
/bower_components/
.build*
/_SpecRunner.html
Gemfile.lock
dist/sassc


# Created by https://www.gitignore.io/api/sublimetext

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

